USE [creditos]
GO
/****** Object:  Table [dbo].[Asesor]    Script Date: 26/11/2025 21:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asesor](
	[IdAsesor] [int] IDENTITY(1,1) NOT NULL,
	[AsesorNombre] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Asesor] PRIMARY KEY CLUSTERED 
(
	[IdAsesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificacionAsesor]    Script Date: 26/11/2025 21:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificacionAsesor](
	[IdNotificacion] [int] IDENTITY(1,1) NOT NULL,
	[IdAsesor] [int] NOT NULL,
	[IdSolicitud] [int] NOT NULL,
	[Mensaje] [nvarchar](max) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[Leido] [bit] NOT NULL,
 CONSTRAINT [PK_NotificacionAsesor] PRIMARY KEY CLUSTERED 
(
	[IdNotificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RespuestaCreditoFinanciera]    Script Date: 26/11/2025 21:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RespuestaCreditoFinanciera](
	[IdRespuesta] [int] IDENTITY(1,1) NOT NULL,
	[IdSolicitud] [int] NOT NULL,
	[Estado] [int] NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[Plazo] [int] NOT NULL,
	[FechaRespuesta] [datetime2](7) NOT NULL,
	[Observaciones] [nvarchar](max) NOT NULL,
	[Condiciones] [nvarchar](max) NOT NULL,
	[JsonCompleto] [nvarchar](max) NOT NULL,
	[FechaReproceso] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_RespuestaCreditoFinanciera] PRIMARY KEY CLUSTERED 
(
	[IdRespuesta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SolicitudCredito]    Script Date: 26/11/2025 21:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitudCredito](
	[IdSolicitud] [int] IDENTITY(1,1) NOT NULL,
	[NumeroSolicitud] [nvarchar](max) NOT NULL,
	[IdAsesor] [int] NOT NULL,
 CONSTRAINT [PK_SolicitudCredito] PRIMARY KEY CLUSTERED 
(
	[IdSolicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Asesor] ON 

INSERT [dbo].[Asesor] ([IdAsesor], [AsesorNombre]) VALUES (1, N'Juan Perez')
INSERT [dbo].[Asesor] ([IdAsesor], [AsesorNombre]) VALUES (2, N'Maria Robles')
SET IDENTITY_INSERT [dbo].[Asesor] OFF
GO
SET IDENTITY_INSERT [dbo].[NotificacionAsesor] ON 

INSERT [dbo].[NotificacionAsesor] ([IdNotificacion], [IdAsesor], [IdSolicitud], [Mensaje], [Fecha], [Leido]) VALUES (1, 1, 1, N'La financiera respondio APROBADO para la solicitud abc1', CAST(N'2025-11-27T03:25:24.8841785' AS DateTime2), 0)
INSERT [dbo].[NotificacionAsesor] ([IdNotificacion], [IdAsesor], [IdSolicitud], [Mensaje], [Fecha], [Leido]) VALUES (2, 1, 1, N'La financiera respondio APROBADO para la solicitud abc1', CAST(N'2025-11-27T03:32:25.0502807' AS DateTime2), 0)
INSERT [dbo].[NotificacionAsesor] ([IdNotificacion], [IdAsesor], [IdSolicitud], [Mensaje], [Fecha], [Leido]) VALUES (3, 1, 1, N'La financiera respondio CONDICIONADO para la solicitud abc1', CAST(N'2025-11-27T04:00:33.9663342' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[NotificacionAsesor] OFF
GO
SET IDENTITY_INSERT [dbo].[RespuestaCreditoFinanciera] ON 

INSERT [dbo].[RespuestaCreditoFinanciera] ([IdRespuesta], [IdSolicitud], [Estado], [Monto], [Plazo], [FechaRespuesta], [Observaciones], [Condiciones], [JsonCompleto], [FechaReproceso]) VALUES (1, 1, 0, CAST(300.00 AS Decimal(18, 2)), 10, CAST(N'2025-11-27T08:05:40.1290000' AS DateTime2), N'', N'', N'{"NumeroSolicitud":"abc1","Estado":0,"MontoAprobado":300,"Tasa":0,"Plazo":10,"FechaRespuesta":"2025-11-27T08:05:40.129Z","Observacion":"","Condiciones":""}', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[RespuestaCreditoFinanciera] ([IdRespuesta], [IdSolicitud], [Estado], [Monto], [Plazo], [FechaRespuesta], [Observaciones], [Condiciones], [JsonCompleto], [FechaReproceso]) VALUES (2, 1, 0, CAST(300.00 AS Decimal(18, 2)), 10, CAST(N'2025-11-27T08:05:40.1290000' AS DateTime2), N'', N'', N'{"NumeroSolicitud":"abc1","Estado":0,"MontoAprobado":300,"Tasa":0,"Plazo":10,"FechaRespuesta":"2025-11-27T08:05:40.129Z","Observacion":"","Condiciones":""}', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[RespuestaCreditoFinanciera] ([IdRespuesta], [IdSolicitud], [Estado], [Monto], [Plazo], [FechaRespuesta], [Observaciones], [Condiciones], [JsonCompleto], [FechaReproceso]) VALUES (3, 1, 2, CAST(300.00 AS Decimal(18, 2)), 10, CAST(N'2025-11-27T08:05:40.1290000' AS DateTime2), N'', N'xyz', N'{"NumeroSolicitud":"abc1","Estado":2,"MontoAprobado":300,"Tasa":0,"Plazo":10,"FechaRespuesta":"2025-11-27T08:05:40.129Z","Observacion":"","Condiciones":"xyz"}', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[RespuestaCreditoFinanciera] OFF
GO
SET IDENTITY_INSERT [dbo].[SolicitudCredito] ON 

INSERT [dbo].[SolicitudCredito] ([IdSolicitud], [NumeroSolicitud], [IdAsesor]) VALUES (1, N'abc1', 1)
INSERT [dbo].[SolicitudCredito] ([IdSolicitud], [NumeroSolicitud], [IdAsesor]) VALUES (2, N'cde2', 2)
SET IDENTITY_INSERT [dbo].[SolicitudCredito] OFF
GO
ALTER TABLE [dbo].[NotificacionAsesor]  WITH CHECK ADD  CONSTRAINT [FK_NotificacionAsesor_Asesor_IdAsesor] FOREIGN KEY([IdAsesor])
REFERENCES [dbo].[Asesor] ([IdAsesor])
GO
ALTER TABLE [dbo].[NotificacionAsesor] CHECK CONSTRAINT [FK_NotificacionAsesor_Asesor_IdAsesor]
GO
ALTER TABLE [dbo].[NotificacionAsesor]  WITH CHECK ADD  CONSTRAINT [FK_NotificacionAsesor_SolicitudCredito_IdSolicitud] FOREIGN KEY([IdSolicitud])
REFERENCES [dbo].[SolicitudCredito] ([IdSolicitud])
GO
ALTER TABLE [dbo].[NotificacionAsesor] CHECK CONSTRAINT [FK_NotificacionAsesor_SolicitudCredito_IdSolicitud]
GO
ALTER TABLE [dbo].[RespuestaCreditoFinanciera]  WITH CHECK ADD  CONSTRAINT [FK_RespuestaCreditoFinanciera_SolicitudCredito_IdSolicitud] FOREIGN KEY([IdSolicitud])
REFERENCES [dbo].[SolicitudCredito] ([IdSolicitud])
GO
ALTER TABLE [dbo].[RespuestaCreditoFinanciera] CHECK CONSTRAINT [FK_RespuestaCreditoFinanciera_SolicitudCredito_IdSolicitud]
GO
ALTER TABLE [dbo].[SolicitudCredito]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudCredito_Asesor_IdAsesor] FOREIGN KEY([IdAsesor])
REFERENCES [dbo].[Asesor] ([IdAsesor])
GO
ALTER TABLE [dbo].[SolicitudCredito] CHECK CONSTRAINT [FK_SolicitudCredito_Asesor_IdAsesor]
GO
